*{
    margin: 0;
    padding: 0;
    font:bold 18px Aria,sans-serif;
}

#main {
    width: 325px;
    height: auto;
    margin: 100px auto;
    padding: 20px 20px 9PX;
    background: #0d1011;
    border-radius: 3px;
}

input[type="text"]{
    height: 30px;
    width: 98%;
    font-size: 30px;
}

button{
    border-radius: 50%;
   padding: 12px;
   height: 50px;
   width: 20%;
   margin: 6px;
   border: none;   
}

button:hover{
    color:rgb(190, 100, 17);
    background-image:radial-gradient(rgb(67,78,34)) ;
}
